div.slider {
  display: inline-block;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
}

div.slider div.slider-before {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0%;
  background-color: white;
  position: absolute;
  transition: transform 0.5s ease;
  font-weight: 700;
}

div.slider:hover div.slider-before {
  transform: translateX(100%);
}
