section[id='projects'] div.tab-pane.active{
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top: 20px;
}

section[id='projects'] button.nav-link, section[id='projects'] button.nav-link.active{
    background-color: transparent;
    font-family: "Catamaran";
    color: white;
    font-weight: 500;
}

section[id='projects'] button.nav-link{
    position: relative;
    overflow: hidden;
}

section[id='projects'] button.nav-link::before{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1%;
    left: -100%;
    content: "";
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    opacity: 0.8;
    z-index: -1;
    transition: 0.2s ease-in;
}

section[id='projects'] button.nav-link.active:before{
    transform: translateX(100%);
}

section[id='projects'] li.nav-item{
    position: relative;
    overflow: hidden;
}

@media (max-width:992px){
    section[id='projects'] div.tab-pane.active{
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
}

@media (max-width:768px){
    section[id='projects'] div.tab-pane.active{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}



