nav .nav-link {
  margin-right: 20px;
}

nav div.media-social {
  display: flex;
  gap: 10px;
}

nav div.single-media-social,
nav div.single-media-social::before {
  width: 40px;
  height: 40px;
  position: relative;
  border: 3px solid white;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  vertical-align: middle;
}

nav div.single-media-social.insta-icon {
  background-image: url("../../assets/images/instagram-icon.svg");
}

nav div.single-media-social.github-icon {
  background-image: url("../../assets/images/github-icon.svg");
}

nav div.single-media-social.facebook-icon {
  background-image: url("../../assets/images/facebook-icon.svg");
}

nav div.single-media-social::before {
  content: "";
  bottom: -5%;
  left: -5%;
  position: absolute;
  background-color: white;
  transform: scale(0);
  transition: 0.5s ease-out;
}

nav div.single-media-social.insta-icon::before {
  background-image: url("../../assets/images/instagram-icon-after.svg");
}

nav div.single-media-social.github-icon::before {
  background-image: url("../../assets/images/github-icon-after.svg");
}

nav div.single-media-social.facebook-icon::before {
  background-image: url("../../assets/images/facebook-icon-after.svg");
}

nav div.single-media-social:hover::before {
  transform: scale(1);
  animation-fill-mode: forwards;
}
