nav {
  position: fixed !important;
  padding: 40px 0 !important;
  width:100%;
  transition: 0.32s ease-in-out;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: transparent;
}

nav.scrolled {
  background-color: #121212;
}

nav div.cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

nav .navbar-brand {
  max-width: 70px;
}

nav a.navbar-brand img {
  width: 100%;
}

nav .nav-link {
  margin-right: 20px;
}

nav div.icons{
  display: flex;
  gap: 10px;
}

nav div.slider{
  margin-left: 40px;
}
