section[id="contact"] {
  padding-top: 80px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5),
    rgba(74, 47, 189, 0.5)
  );
  transition: 0.5s ease-out;
}

section[id="contact"] h1 {
  margin-bottom: 30px;
}

section[id="contact"] div.image-col {
  padding-right: 30px;
  padding-top: 30px;
}

section[id="contact"] div.image-col div.img-container{
  min-height: 300px;
}

section[id="contact"] div.image-col div.img-container div.zoom-container{
  display: flex;
  justify-content: center;
}

section[id="contact"] div.image-col img{  
  max-width: 100%;
  animation: upDown 4s linear infinite;
}

section[id="contact"] div.form-col {
  margin-bottom: 5px;
  padding: 0px 3px;
}

section[id="contact"] textarea {
  width: 100%;
  padding: 13px 10px;
  border-radius: 15px;
  border: 2px rgba(225, 225, 225, 0.2) solid;
  background-color: transparent;
  color: white;
  font-weight: 400;
  transition: 0.2s ease;
  outline: none;
}

section[id="contact"] textarea::placeholder {
  color: rgba(225, 225, 225, 0.8);
}

section[id="contact"] textarea:focus {
  padding: 13px 14px;
}

section[id='contact'] div.send-col{
    margin-top: 20px;
    padding-left: 0px;
}

section[id='contact'] div.send-slider div.slider{
    width: 60%;
    font-weight: 600;
    text-align: center;
}

section[id='contact'] div.alert-col{
  padding-left: 0px;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.15rem;
}

section[id='contact'] div.alert-placeholder{
  height: 300px;
}

section[id='contact'] div.alert-col div.alert-container{
  height: 370px;
  width: 100%;
}

@media (max-width:992px){
  
  section[id='contact'] div.image-col img{
    width: 80%;
  }

  section[id='contact'] div.image-col{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}
