section[id='contact'] input{
    width: 100%;
    padding: 13px 10px;
    border-radius: 15px;
    border: 2px rgba(225,225,225,0.2) solid;
    background-color: transparent;
    color: white;
    font-weight: 400;
    transition: 0.2s ease;
    outline: none;
}

section[id='contact'] input::placeholder{
    color: rgba(225,225,225,0.8);
}

section[id='contact'] input:focus{
    padding: 13px 14px;
    border: 2px rgba(225,225,225,0.8) solid;
}
